// Our Locations
#locations-nav {
    text-align: center;
    font-family: Ubuntu;
    font-weight: 300;
    font-size: 24px;
    a {
        color: black;
    }
}
#locations-body article {
    border-top: 1px solid #A5ACC1;
    margin-top: 20px;
}