# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules
assets/vendor/*
assets/css/main.css.map
assets/css/*main*.css
assets/js/*scripts*.js
!/assets/js/scripts.min.js
!/assets/css/main.min.css
!/assets/vendor/bootstrapValidator/
/assets/vendor/bootstrapValidator/src/
/assets/vendor/bootstrapValidator/test/
/assets/vendor/bootstrapValidator/vendor/
/assets/vendor/bootstrapValidator/CHANGELOG.md
/assets/vendor/bootstrapValidator/bootstrapValidator.jquery.json
/assets/vendor/bootstrapValidator/Gruntfile.js
/assets/vendor/bootstrapValidator/bower.json
/assets/vendor/bootstrapValidator/README.md
/assets/vendor/bootstrapValidator/package.json
/assets/vendor/bootstrapValidator/CONTRIBUTORS.md
/assets/vendor/bootstrapValidator/dist/js/language/
/assets/vendor/bootstrapValidator/dist/js/bootstrapValidator.js
/assets/vendor/bootstrapValidator/dist/css/bootstrapValidator.css
!/assets/vendor/bootstrap/
/assets/vendor/bootstrap/less/
/assets/vendor/bootstrap/package.json
/assets/vendor/bootstrap/Gruntfile.js
/assets/vendor/bootstrap/bower.json
/assets/vendor/bootstrap/README.md
/assets/vendor/bootstrap/LICENSE
/assets/vendor/bootstrap/dist/
/assets/vendor/bootstrap/grunt/
/assets/vendor/bootstrap/js/