// General

.main {
  margin: 0 40px;
  font-size: 17px;
  h1 {
    padding-bottom: 10px;
  }
}

h1 {
  font-family: @ubuntu;
  font-weight: 700;
  color: #142452;
  font-size: 36px;
}

h2 {
  font-family: @ubuntu;
  font-weight: 700;
  color: #142452;
  font-size: 26px;
}

.strong {
  font-weight: bold;
}

.pad-bot-20 {
  padding-bottom: 20px;
}

// Header

body {
  font-family: @roboto;
  font-weight: 300;
}

// Footer

footer.content-info {
  padding-top: 80px;
  h2 {
    margin-left: 15px;
    color: #fff;
    font-size: 30px;
    font-family: Roboto;
  }
  .container {
    background-color: #eee;
    .nav > li > a {
      display: inline-block;
      color: @pds-blue;
      padding: 5px 15px;
      &:hover {
        background-color: #ccc;
      }
    }
  }
  #footer-contact {
    padding: 20px 25px 10px;
    background-color: #142452;
    color: #fff;
    h2 {
      margin-left: 0;
    }
    h3 {
      font-family: Roboto;
      color: #f0b432;
      font-weight: bold;
      font-size: 22px;
    }
    a {
      color: #C4FFFE;
    }
  }
}

// Common page elements
.page-header {
  border-bottom: none;
}

.advocate-pages {
  h1 {
    color: #142452;
    border-bottom: 1px solid #f0b432;
  }
  h2 {
    color: #142452;
  }
}

.solicitors-pages {
  h1 {
    color: #f0b432;
    border-bottom: 1px solid #142452;
  }
  h2 {
    color: #f0b432;
  }
}

// Location tables
table {
  width: 100%;
  td {
    padding: 0 10px;
    vertical-align: top;
  }
}
